.weather {
  font-size: var(--base-font-size);
  min-width: 400px;
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 4rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.city {
  font-weight: 600;
}

.date {
  margin-top: 0.5em;
}

.temperature {
  font-size: 8em;
  line-height: 1;
  margin-top: 0.25em;
  font-weight: 600;
}

.condition {
  font-weight: bold;
  margin-top: 1em;
}

.details {
  display: flex;
  justify-content: space-between;
  font-size: 0.75em;
  margin-top: 1.5em;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .details {
    flex-direction: row;
  }
}