.input {
  padding: 1em;
  font-size: 1.5em !important;
  width: 100%;
  flex-grow: 1;
  margin-left: 2em;
  border: 0;
}

.input:focus {
  outline-style: dotted;
  outline-width: 1px;
  outline-color: var(--outline-color);
}

.input::-webkit-input-placeholder, .input::-moz-input-placeholder {
  color: var(--text-color);
  opacity: 0.8;
}

.input:-webkit-autofill, .input:-webkit-autofill:hover, .input:-webkit-autofill:focus, .input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 50px var(--bg-color) inset;
  -webkit-text-fill-color: var(--text-color);
}