.button {
  background-repeat: no-repeat;
  height: 1.5em;
  width: 1.5em;
  margin: 1em;
  cursor: pointer;
  transition: all 100ms ease-in;
  transform: scale(1)
}

.button:hover {
  transform: scale(1.2);
}

.button:focus {
  outline-offset: 4px;
  outline-style: dotted;
  outline-color: var(--outline-color);
  outline-width: 1px;
}