.forecast {
  overflow-x: scroll;
  font-size: 1em;
  margin: 0 auto;
  display: inline-block;
  width: 100%;
}

.forecast__table {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.forecast__row {
  width: 100%;
}

.forecast__row:first-child {
  padding-top: 2em;
}

.forecast__header {
  text-align: left;
  font-weight: 600 !important;
  font-size: 1.5em;
  padding-bottom: 1em;
  border-bottom: solid 2px var(--text-color);
}

.forecast__item {
  white-space: nowrap;
  text-align: left;
  border-left: 1em solid transparent;
  border-top: 1em solid transparent;
}

.forecast__item:first-child {
  border-left: 0;
}

.forecast__item:last-child {
  border-right: 0;
}