@import "./variables.css";
html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Styles reset */

button {
  border: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  width: inherit;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

input {
  display: inline-block;
  margin: inherit;
  font-family: inherit;
  line-height: inherit;
  white-space: normal;
  text-overflow: ellipsis;
  vertical-align: middle;
  background: none;
  border: 0;
}

/* Change Autocomplete styles in Chrome */

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
  border:0;
  box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: var(--text-color);
  -webkit-text-fill-color: var(--text-color);
}

/* Helper class to hide items but keep them accessible for screenreaders */
.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}