.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--bg-color);
  overflow: auto;
  color: var(--text-color);
}

.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.search {
  width: 100%;
  display: flex;
  border-bottom: solid 2px var(--text-color);
  align-items: center;
  justify-content: space-between;
  margin-bottom: auto;
}

.error {
  min-height: 2rem;
  color: var(--error-color);
  font-size: 0.75rem;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  flex-grow: 1;
}

@media screen and (min-width: 1000px) {
  .content {
    flex-direction: row;
  }
}

.footer {
  width: 100%;
  margin-top: auto;
  font-size: 0.75em;
  text-align: center;
}